html {
    font-size:62.5%;
    scroll-behavior: smooth;

    body {
        font-family: $baseFont;
        font-size:1.6rem;
        color: $pink;

        section {
            min-height:100vh;
            background: $red;
        };

        .wrapper {
            margin:0 auto;
            max-width:1280px;
            width:70%;
        }

        h1, h2 {
            margin:0;
            font-family: $accentFont;
            letter-spacing:1.5px;
        };

        h2 {
            font-size:2em;
            text-transform:uppercase;
            font-weight:normal;
        }
    };
};