article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    color: #D06A6A; }
    html body section {
      min-height: 100vh;
      background: #903333; }
    html body .wrapper {
      margin: 0 auto;
      max-width: 1280px;
      width: 70%; }
    html body h1, html body h2 {
      margin: 0;
      font-family: "Lato", sans-serif;
      letter-spacing: 1.5px; }
    html body h2 {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: normal; }

.header__background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/img1.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img1.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img1.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img1.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  -webkit-filter: blur(1.5px);
  filter: blur(1.5px); }

.header__title {
  background: rgba(144, 51, 51, 0.5);
  width: 85vw;
  color: #f3f3f3;
  text-shadow: 3px 3px 2px #0f0f0f;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  text-align: center; }
  @media (min-width: 720px) {
    .header__title {
      width: 70vw; } }
  @media (min-width: 1000px) {
    .header__title {
      width: 50vw; } }
  .header__title h1 {
    margin: 0;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    overflow-wrap: break-word; }
  .header__title a {
    text-decoration: none;
    color: #f3f3f3;
    background: none;
    border: 2px solid #D06A6A;
    padding: 5px 10px;
    margin-top: 1em;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase; }
    .header__title a:hover {
      background: #D06A6A; }
    @media (min-width: 480px) {
      .header__title a {
        width: 50%;
        margin-left: auto;
        margin-right: auto; } }

.search-city {
  position: relative; }

.search-city__container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  position: absolute;
  left: 50%; }
  .search-city__container .search-city__circle {
    background: #D06A6A;
    padding: 10px 15px;
    width: 25%;
    color: #f3f3f3;
    border-radius: 50%;
    font-family: "Lato", sans-serif;
    margin: 0 auto 1em auto; }
    @media (min-width: 414px) {
      .search-city__container .search-city__circle {
        width: 20%; } }
    @media (min-width: 790px) {
      .search-city__container .search-city__circle {
        width: 15%; } }
    @media (min-width: 1040px) {
      .search-city__container .search-city__circle {
        width: 10%; } }
  .search-city__container h2 {
    margin-top: 0.3em; }

.search-city__form {
  margin-top: 1em; }
  .search-city__form .search-city__input, .search-city__form .search-city__submit {
    width: 80%; }
    @media (max-width: 740px) {
      .search-city__form .search-city__input, .search-city__form .search-city__submit {
        width: 100%; } }
  .search-city__form .search-city__input {
    background: none;
    border: none;
    color: #D06A6A;
    text-align: center;
    border-bottom: 2px solid #D06A6A;
    font-size: 1.4em; }
  .search-city__form .search-city__submit {
    margin-top: 1em;
    background: none;
    border: 2px solid #D06A6A;
    color: #D06A6A;
    padding: 0.5em;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
    .search-city__form .search-city__submit:hover {
      background: #D06A6A;
      color: #f3f3f3; }

.search-cuisine {
  position: relative; }

.search-cuisine__container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  position: absolute;
  left: 50%; }
  .search-cuisine__container .search-cuisine__circle {
    background: #D06A6A;
    padding: 10px 15px;
    width: 25%;
    color: #f3f3f3;
    border-radius: 50%;
    font-family: "Lato", sans-serif;
    margin: 0 auto 1em auto; }
    @media (min-width: 414px) {
      .search-cuisine__container .search-cuisine__circle {
        width: 20%; } }
    @media (min-width: 790px) {
      .search-cuisine__container .search-cuisine__circle {
        width: 15%; } }
    @media (min-width: 1040px) {
      .search-cuisine__container .search-cuisine__circle {
        width: 10%; } }
  .search-cuisine__container h2 {
    margin-top: 0.3em; }

.search-cuisine__form {
  margin-top: 1em;
  position: relative; }
  .search-cuisine__form:after {
    content: '\f0d7';
    font: normal normal normal 17px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0.5em;
    pointer-events: none; }
    @media (min-width: 722px) {
      .search-cuisine__form:after {
        right: 3em; } }
  .search-cuisine__form::ms-expand {
    display: none; }
  .search-cuisine__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #D06A6A; }
  .search-cuisine__form .search-cuisine__select, .search-cuisine__form .search-cuisine__submit {
    width: 80%;
    text-align: center; }
    @media (max-width: 740px) {
      .search-cuisine__form .search-cuisine__select, .search-cuisine__form .search-cuisine__submit {
        width: 100%; } }
  .search-cuisine__form .search-cuisine__select {
    background: none;
    border: none;
    border-bottom: 2px solid #D06A6A; }
    .search-cuisine__form .search-cuisine__select::after {
      border: 1px solid red; }
  .search-cuisine__form .search-cuisine__submit {
    margin-top: 1em;
    background: none;
    border: 2px solid #D06A6A;
    color: #D06A6A;
    padding: 0.5em;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
    .search-cuisine__form .search-cuisine__submit:hover {
      background: #D06A6A;
      color: #f3f3f3; }

#results__restaurants {
  margin: 0 auto;
  width: 60%; }
  @media (max-width: 896px) {
    #results__restaurants {
      width: 75%; } }
  @media (max-width: 740px) {
    #results__restaurants {
      width: 90%; } }
  @media (max-width: 500px) {
    #results__restaurants {
      width: 95%; } }
  #results__restaurants .results__restaurants__img-container {
    padding-top: 1em;
    position: relative; }
    #results__restaurants .results__restaurants__img-container img {
      width: 100%;
      -webkit-filter: blur(1.4px);
      filter: blur(1.4px);
      display: block;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #results__restaurants .results__restaurants__img-container img:hover {
        -webkit-filter: none;
        filter: none; }
  #results__restaurants .results__restaurants__content {
    background: rgba(144, 51, 51, 0.5);
    position: absolute;
    top: 0;
    padding: 1em;
    color: #f3f3f3;
    text-shadow: 2px 2px 2px #0f0f0f; }
    #results__restaurants .results__restaurants__content h2, #results__restaurants .results__restaurants__content p {
      margin: 0; }
    @media (max-width: 740px) {
      #results__restaurants .results__restaurants__content h2 {
        font-size: 1.5em; } }
    @media (max-width: 500px) {
      #results__restaurants .results__restaurants__content h2 {
        font-size: 1.2em; } }

.results__form {
  width: 60%;
  margin: 0 auto;
  padding: 1em 0; }
  @media (max-width: 896px) {
    .results__form {
      width: 75%; } }
  @media (max-width: 740px) {
    .results__form {
      width: 90%; } }
  @media (max-width: 500px) {
    .results__form {
      width: 95%; } }
  .results__form button {
    width: 100%;
    padding: 5px;
    margin-top: 0.5em;
    background: none;
    border: none;
    border: 2px solid #D06A6A;
    color: #D06A6A;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .results__form button:hover {
      background: #D06A6A;
      color: #f3f3f3; }
