article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif; }
    html body .circle {
      background: #F97C7C;
      width: 15%;
      border-radius: 50%;
      padding: 10px 15px 15px 15px;
      margin: 0 auto;
      font-size: 4rem; }
    html body .wrapper {
      margin: 0 auto;
      max-width: 1280px;
      width: 70%; }
      html body .wrapper button {
        background: #F97C7C;
        padding: 5px 10px;
        width: 60%;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 5px; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2))), url("../../assets/img1.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../assets/img1.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../assets/img1.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../assets/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 100px; }

h1 {
  text-align: center;
  margin-top: 4rem;
  font-size: 4rem;
  color: #F97C7C;
  font-family: 'PlayfairDisplay', serif; }
  h1 span {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 3.6rem; }

.choose-city, .choose-cuisine {
  width: 50%;
  float: left;
  min-height: 300px;
  margin-top: 4rem;
  text-align: center;
  padding-top: 4rem;
  background: #eaeaea; }
  .choose-city h2, .choose-cuisine h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bold; }

.choose-city input {
  width: 60%;
  border: none; }

.choose-cuisine {
  margin-left: 15px;
  width: calc(50% - 15px); }
  .choose-cuisine form {
    position: relative; }
  .choose-cuisine select {
    width: 60%;
    border: 1px solid white; }
    .choose-cuisine select:focus {
      border: 1px solid #F97C7C; }

.results {
  margin: 4rem auto;
  text-align: center; }
  .results .result {
    background: #eaeaea;
    padding: 4rem; }
    .results .result > div .rest-content {
      background: white;
      padding: 3%;
      width: 50%;
      margin: 50px auto 0 auto; }
    .results .result > div .img-container {
      width: 50%;
      margin: 0 auto; }
      .results .result > div .img-container img {
        width: 100%;
        display: block; }
